<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BARBER APP</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome:</h1>

    <a href="/users">Looking For A Haircut</a> <br>
    <a href="/barbers">I'm A Barber</a><br>
    <form action="/auth/logout" method="GET" >
        <input type="submit" value="Logout">
    </form>

</body>
</html>