<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USERS REGISTER PAGE</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Users Register Page:</h1>
    <form action="/auth/register" method="POST">
        Username: <input type="text" name="username" value="username">
        Password: <input type="password" name="password" value="password">
        <button type="submit">Add User</button>
    </form>
</body>
</html>