<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BARBERS EDIT PAGE</title>
</head>
<body>

    <header>
    </header>

    <main>
        <h1>Barber Attributes:</h1>

        <form action="/barbers/<%=barber._id%>?_method=PUT" method="POST">
            Username:<input type="text" name="username" value="<%=barber.username%>">
            Password:<input type="text" name="password" value="<%=barber.password%>">
        <button type="submit">Update Barber</button>
        </form>

        <form action="/barbers/<%=barber._id%>?_method=DELETE" method="POST" >
            <input type="submit" value="Delete Barber">
        </form>

        <nav>
            <ul>
                <li><a href='/'>Return To Homepage</a></li>
                <li><a href='/barbers'>Barbers Index</a></li>
            </ul>
        </nav>

    </main>
    
</body>
</html>
