<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BARBERS EDIT PAGE</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
    </header>

    <main>
        <h1>Barber Attributes:</h1>
        <% include ../partials/_navbar %>
        <form action="/barbers/<%=barber._id%>?_method=PUT" method="POST">
            Username:<input type="text" name="username" value="<%=barber.username%>">
            Password:<input type="text" name="password" value="<%=barber.password%>">
            Seat Status:<label class="switch">
                        <input type="checkbox"  name="seatStatus">
                        <span class="slider round"></span>
                        </label>
        <button type="submit">Update Barber</button>
        </form>

        <form action="/barbers/<%=barber._id%>?_method=DELETE" method="POST" >
            <input type="submit" value="Delete Barber">
        </form>

        <form action="/auth/logout" method="GET" >
            <input type="submit" value="Logout">
        </form>

    </main>
    
</body>
</html>
