<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BARBERS INDEX PAGE</title>
</head>
<body>

    <header>
    <h1>Barbers Index Page:</h1>

    <nav>
        <ul>
            <li><a href='/'>Return To Homepage</a></li>
            <li><a href='/barbers/new'>Create A New Barber</a></li>
        </ul>
    </nav>
    </header>

    <main>
        <h1>Barbers:</h1>
        <ul>
            <% for(let i = 0; i < barbers.length; i++) { %>
                <li>
                    <a href='/barbers/<%=barbers[i].id%>'><%= barbers[i].username %></a>
                </li>
            <% } %>
        </ul>  
        <form action="/auth/logout" method="GET" >
            <input type="submit" value="Logout">
        </form> 
    </main> 
    
</body>
</html>

