<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BARBERS INDEX PAGE</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
    <% include ../partials/_navbar %>
    </header>

    <main>



        <h1>Currently Registerd Barbers: <h4>(Select Your Profile Below)</h4></h1>
        
        <ul>
            <% for(let i = 0; i < barbers.length; i++) { %>
            <li>
                <a href='/barbers/<%=barbers[i].id%>'><%= barbers[i].username %></a>
                <% if(barbers[i].seatStatus == true){ %>
                    <%= "This Barber Is Available"%>
                <% }else{ %>
                    <%= "This Barber Is Busy" %>
                <% } %>   
            </li>
            <% } %>
        </ul>  
        <form action="/auth/logout" method="GET" >
            <input type="submit" value="Logout">
        </form> 
    </main> 
    
</body>
</html>
