<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BARBERS NEW PAGE</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <h1>Barbers New Page:</h1>
        <% include ../partials/_navbar %>
    </header>


    <main>
        <form action="/barbers" method="POST">
            Username:<input type="text" name="username" value="username">
            Password:<input type="password" name="password" value="password">
            Seat Status:<label class="switch">
                            <input type="checkbox"  name="seatStatus">
                            <span class="slider round"></span>
                        </label>

            <button type="submit">Add Barber</button>
        </form>
        <form action="/auth/logout" method="GET" >
            <input type="submit" value="Logout">
        </form>
    </main>

</body>
</html>