<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BARBERS NEW PAGE</title>
</head>
<body>

    <header>
        <h1>Barbers New Page:</h1>

        <nav>
            <ul>
                <li><a href='/'>Return To Homepage</a></li>
                <li><a href='/barbers'>Barbers Index</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <form action="/barbers" method="POST">
            Username: <input type="text" name="username" value="username">
            Password: <input type="password" name="password" value="password">
            <button type="submit">Add Barber</button>
        </form>
    </main>
    
</body>
</html>