<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USERS NEW PAGE</title>
</head>
<body>

    <header>
        <h1>Users New Page:</h1>

        <nav>
            <ul>
                <li><a href='/'>Return To Homepage</a></li>
                <li><a href='/users'>Users Index</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <form action="/users" method="POST">
            Username: <input type="text" name="username" value="username">
            Password: <input type="password" name="password" value="password">
            <button type="submit">Add User</button>
        </form>
        <form action="/auth/logout" method="GET" >
            <input type="submit" value="Logout">
        </form>
    </main>
    
</body>
</html>